<div id="header">
	<h2><span>ABC</span> Hospital Management System</h2>
	<div class="menu-bar">
		<ul>
			<li><p>Patient  </p>
				<div class="sub-menu">
					<ul>
						<li><a href="/create_patient">Create Patient</a></li>
						<li><a href="/delete_patient">Delete Patient</a></li>
						<li><a href="/update_patient">Update Patient</a></li>
						<li><a href="/search_patient">Search Patient</a></li>
		
					</ul>
				</div>
			</li>
			<li><p>Pharmacy  </p>
				<div class="sub-menu">
					<ul>
						<li><a href="/getpatient">Patient Details</a></li>
						<li><a href="/issue_medicine">Issue Medicine</a></li>
					</ul>
				</div>
			</li>
			<li><p>Diagnostics  </p>
				<div class="sub-menu">
					<ul>
						<li><a href="/getpatient2">Patient Details</a></li>
						<li><a href="/add_diagnostics">Add Diagnostics</a></li>
						<li><a href="/final_bill">Final Bill</a></li>

					</ul>
				</div>
			</li>
			<li><a href="/logout" id="log">Logout</a></li>
		</ul>
	</div>
</div>


